<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/src/output.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
  
</head>
<body>

<!--Navbar-->
<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="index.html" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="/image/logo.png" class="h-20" alt="Logo" width="130" />
            <!-- <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"></span> -->
        </a>
        <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <button type="button"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Donate
                Us </button>
            <button data-collapse-toggle="navbar-cta" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-cta" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
        </div>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
            <ul
                class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a href="/index.html"
                    class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 d:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" >Home</a>
                  
                </li>

                <li>
                    <a href="about.html"
                    class="block py-2 px-3 md:p-0 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:dark:text-blue-500" aria-current="page">About</a>
                </li>

                <li>
                    <a href="gallery.html"
                    class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Gallery</a>
                </li>
              
                <li>
                    <a href="contact.html"
                        class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
  <!--Navbar-->


<div class="aboutcontent" style="display:flex; justify-content: center; margin: 20px;">
  <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Want to know more <span class="underline underline-offset-3 decoration-8 decoration-blue-400 dark:decoration-blue-600"> About Us ?</span></h1>


</div>
<div class="aboutcontentimg" style="display:flex; justify-content: center; margin: 20px; border-radius: 20px;">
<img src="/image/pic5.jpg" alt="Picture" style="height: 20rem; border-radius: 20px;" >
</div>
<p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
   <span style="color: black; font-size: 24px; font-weight: bold;"> " श्री च्योम देन दे ढा च्योम गुम्बा " </span> is non-profit organization supported by more than thousands of devotees from all over the world. It was formed by local community peoples' (Tamang Community) of Rapti area.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
</p>

<div class="aboutcontent" style="display:flex; justify-content: center; margin: 20px;">
    <h3 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-3xl lg:text-4xl dark:text-white">Find our location📍</h3>
  
  
  </div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5651.180344494321!2d84.61336742085723!3d27.64653874245002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3994dd218f0ff1f1%3A0x19733b5da961d6d!2z4KS24KWN4KSw4KWAIOCkmuCljeCkr-Cli-CkruCkpuClh-CkqCDgpKbgpYcg4KSi4KS-IOCkmuCljeCkr-Cli-CkriDgpKzgpYzgpKbgpY3gpKcg4KSX4KWB4KSu4KWN4KSs4KS-!5e1!3m2!1sen!2snp!4v1708445986414!5m2!1sen!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        <footer class="bg-white rounded-lg shadow dark:bg-gray-900 m-4">
            <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
                <div class="sm:flex sm:items-center sm:justify-between">
                    <a href="index.html" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                        <img src="/image/logo.png" class="h-8" alt=" Logo" />
                       
                    </a>
                    <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                        <li>
                            <a href="#" class="hover:underline me-4 md:me-6">About</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline">Contact</a>
                        </li>
                    </ul>
                </div>
                <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
                <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"> <a href="#" class="hover:underline">Shri Choymdan ©</a>. All Rights Reserved.</span>
            </div>
        </footer>
        <script src="https://unpkg.com/flowbite@1.4.4/dist/flowbite.js"></script>  
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>  
</body>
</html>